<div class="about-page">
  <div class="content">

    <section class="about">

      <div class="container">
        <!-- <span class="hello animated  slideInDown one">Hello.</span>  -->
        <h1 class="hello animated  flipInX one">Hello.</h1><br>
        <p class="animated flipInX"> 
          I hand craft SaaS solutions and web applications to <br>
          solve business problems. I love building well designed products <br>
          and working with specialists from different fields that can inspire <br>
          me to become even better. Here are some of my works <br> 
          and I hope to get in touch with you soon!
        </p> <br>
        <a class="action-btn animated  flipInX one" routerLink="/work">Check out my work</a> 
      </div>

    </section>
    
  </div>
</div>
