<div class="about-page">
  <div class="content">

    <section class="one">
      <div class="container">
        <span>Hello</span> 
      </div>
    </section>

    <section class="two">
      <div class="container">
        <h1>
          <span>About</span> me 
        </h1><br>
        <p>
          Hey everyone, I'm Hiro and you've found my site. <br>
          This is a collection of projects, documents, social <br>
          media channels and whatever else I feel like putting on here.<br>
          Currently, I'm set on finishing this portfolio site by July 31st, <br>
          so that I can start freelancing while I work on <br>
          getting my bachelors in computer science. <br>
        </p><br>
        <a routerLink="/work">Check out my work</a>
      </div>
    </section>
    
    
 
  
  </div>
</div>
