<div class="about-page">
  <div class="content">

    <section class="about">
      <div class="container">

        <span class="hello animated  slideInDown one">Hello.</span> 

        <div class="content animated  slideInUp one">
          <h1>
            <!-- <span class="about">About</span> me  -->
            
          </h1><br>
          <p>
            Producing SaaS solutions and web applications to<br> 
            solve business problems.
          </p> <br>
          <a routerLink="/work">Check out my work</a> 
        </div>
        
      </div>
    </section>
    
    
 
  
  </div>
</div>
