$nav-color: #24292e;
$bg-color: #3F4448;
$input: #0e131c;

$ap-black: #0E131C;
$ap-dark: #273040;
$ap-blue: #3767A6;
$blue: #14A1D9;
$mid-blue: #05C7F2;
$light-blue: #05DBF2;
$ap-pop: #05F2F2;


$pink: #F2359D;
$purple: #732D60;
$cyano-white: #F5F3F5;
$cyano-black: #010101;
$salo-black: #0D0D0D;



