<div id="nav_bar">
  <a routerLink="/" class="logo"><img src="../../../../assets/images/logo3.png" alt=""></a>
  <nav>
    <!-- <a href=""><i>::before</i>::after</a> -->
    <a routerLink="/"><i class="fa fa-home"></i></a>
    <a routerLink="/about"><i class="fa fa-user"></i></a>
    <a routerLink="/skills"><i class="fa fa-code"></i></a>
    <a routerLink="/work"><i class="fa fa-folder-open"></i></a>
    <a routerLink="/contact"><i class="fa fa-envelope"></i></a>
  </nav>
  <ul>
      <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
      <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
      <li><a href="#"><i class="fa fa-github" aria-hidden="true"></i></a></li>
      <li><a href="#"><i class="fa fa-codepen" aria-hidden="true"></i></a></li>
  </ul>
</div>
