@import "../../../../assets/scss/colors";
div {
    position: relative;
    grid-area: nav;
    display: flex;
    align-items: center;
    background: $nav-color;
    padding: 3.14159px;
    img {
        max-height: 40px;
        border-radius: 50%;
    }
    a , nav, ul {
        display: flex;
        color: $blue;
        // opacity: .8;
        text-decoration: none;
        padding: 5px;
    }
    nav {
        position: absolute;
        left: 55px;
        a {
            margin-right: 10px;
            i{
                &:hover {
                    color: $light-blue;
                    // opacity: 1;
                }
            }
            
        }
    }
    ul {
        display: flex;
        position: absolute;
        right: 5px;
        li{
            a{
                i{
                    &:hover {
                        color: $light-blue;
                        // opacity: 1;
                    }
                }
            }
        }
    }

}


@media (min-width: 900px) {
    div {
        justify-content: space-between;
        position: relative;
        display: block;
        height: 100vh;
        width: 60px;
        a, nav, ul {
            display: grid;
        }
        nav {
            position: absolute;
            top: 30%;
            left: 11px;
            height: 35vh;
            justify-content: space-between;
            // i::after {
            //     content: '';
            // }
        }
        ul {
            position: absolute;
            bottom: 15px;
            left: 11px;
            height: 20vh;
        }
    }
}