@import "../../../../assets/scss/colors";
div {
    position: relative;
    grid-area: nav;
    display: flex;
    //justify-content: space-between;
    align-items: center;
    // background: $cyano-black;
    background: $nav-color;
    padding: 3.14159px;
    img {
        max-height: 40px;
    }
    a , nav, ul {
        display: flex;
        color: $mid-blue;
        opacity: .8;
        text-decoration: none;
        padding: 5px;
        &:hover{
            color: $mid-blue;
            opacity: 1;
        }
    }
    nav {
        position: absolute;
        left: 55px;
        a {
            margin-right: 10px;
        }
    }
    ul {
        display: flex;
        position: absolute;
        right: 5px;
        li{
            a{
                i{
                    //color: $mid-blue;
                    &:hover {
                        color: $mid-blue;
                        opacity: 1;
                    }
                }
            }
        }
    }

}


@media (min-width: 900px) {
    div {
        justify-content: space-between;
        position: relative;
        display: block;
        height: 100vh;
        width: 60px;
        a, nav, ul {
            display: grid;
        }
        nav {
            position: absolute;
            top: 36%;
            left: 11px;
            height: 30vh;
            justify-content: space-between;
        }
        ul {
            position: absolute;
            bottom: 15px;
            left: 11px;
            height: 15vh;
        }
    }
}