<div class="works-page animated fadeIn one">
  <!-- <div class="clickme">
    <p>click me</p>
  </div> -->
  <!-- <div *ngFor="let card of cards; let id = index+1"> -->
  <!-- <div class="container animated  fadeInUp one"> -->
    <!-- <div class="heading">
      <h1>Some Things I've <span>Built</span></h1><br>
    </div> -->
    <!-- <h1>These are various projects I've worked on over the years. I hope they may be of some use to you. If you'd like to contribute to any, feel free! I generally use the GPLv3 license, or MIT otherwise.</h1> -->
    <div class="wrapper first featured">
      <div class="content">
        <h6>Full Stack</h6>
        <h3>E-Commerce</h3>
        <!-- <h4>Built With</h4> -->
        <p>TypeScript / MySQL</p><br>

        <a href="#">Live Demo</a>
        <a href="#">View Source</a>
        
      </div>
    </div>
    <div class="subfeature second wrapper">
      <div class="content">
        <h3>Real Estate</h3>
        <p>Coming soon</p><br>
        <a href="#" class="disabled">Live Demo</a>
        <a href="#" class="disabled">View Source</a>
      </div>
    </div>
    <div class="subsubfeature third wrapper">
      <div class="content">
        <h3>Digital Agency</h3>
        <p>Coming soon</p><br>
        <a href="#" class="disabled">Live Demo</a>
        <a href="#" class="disabled">View Source</a>
      </div>
    </div>
    <div class="fourth wrapper">
      <div class="content">
        <h3>Restaurant</h3>
        <p>Coming soon</p><br>
        <a href="#" class="disabled">Live Demo</a>
        <a href="#" class="disabled">View Source</a>
      </div>
    </div>
    <!-- <div class="fifth wrapper ">
      <div class="content addmore">
        <i class="fa fa-plus fa-3x" aria-hidden="true"></i>
      </div>
    </div> -->
    <div class="sixth wrapper">
      <div class="content">
        <h3><span>Let's make things happen!</span></h3>
        <a class="contactme" routerLink="/contact">Contact me</a>
      </div>
    </div>
    
    
  <!-- </div> -->


  <!-- </div> -->
</div>