@import "../../../../assets/scss/colors";
.works-page {
    // overflow: auto;
    background: #3F4448;
    text-align: center;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    .card{
        float: left;
        width: 50%;
        .card-body {
            height: 100%;
        }
    }
    // img {
    //     max-width: 500px;
    // }
    h1 {
        font-size: 2em;
        font-weight: 700;
        color: $cyano-white;
        span {
            border-bottom: 2px solid $light-blue;
            border-radius: 10px; 
        }
    }
    p {
        font-weight: 300;
        line-height: 1.8em;
        color: #98a0ad;
        display: inline;
    }
    
}
@media (min-width: 900px) {
    .works-page {
        //background-image: url(../../../../assets/images/home.png);
        position: relative;
        h1 {
            font-size: 3em;
            span {
                border-bottom: 2px solid $light-blue; 
            }
        }
        p {
            width: 60%;
        }
    }
}      