@import "../../../../assets/scss/colors";
@import url('https://fonts.googleapis.com/css?family=Nunito:300,400,700');
.works-page {
    width: 100%;
    height: 100%;
    margin: 0;
    display: grid;
    grid-gap: 1em;
    padding: 1em;
    // .container{
    //     width: 100%;
    //     margin: 0 auto;
    //     // padding-top: 10%;
    //     padding-bottom: 0;
    //     // padding-top: 5%;
    //     display: grid;
    //     grid-template-columns: repeat(1, 1fr);
    //     padding-left: 0;
    //     padding-right: 0;
    //     // grid-gap: 3em;
    //     grid-auto-rows: minmax(100px, auto);
    //     position: relative;
        
        .wrapper{
            background-color: $bg-color;
            box-shadow: 0px 0px 115px #000000a6;
            padding: 6%;
            width: 100%;
            opacity: .68;
            transition-delay: .4s;
            transition: ease-in-out;
            border-radius: 2px;
            &:hover{
                opacity: 1;
            }     
            .content{
                text-align: center;
                display: block;
                margin-top: 0em; 
                font-family: 'Nunito', sans-serif;
                // height: 160px;
                height: 100%;
                color: white;
                width: 80%;
                margin: 0 auto;
                h6::before{
                    content: '- ';
                }
                h6::after{
                    content: ' -';
                }
                .disabled{
                    text-decoration: line-through;
                    &:hover{
                        cursor: default;
                        background: $bg-color;
                    }
                }
                // .buttons {
                //     display: flex;
                //     flex-direction: row;
                //     justify-content: space-around;
                //     width: 100%;
                //     float: left;
                //     a {
                //         width: 49%;
                //         text-align: center;
                //     }
                // }
                // h6, h5, h3, a {
                //     // color: #010101;
                //     color: white;
                //     // text-align: center;
                // }
                p{
                    text-align: left;
                }
                i{
                    &:hover{
                        cursor: pointer;
                    }
                }
                a {
                    display: block;
                    text-decoration: none;
                    // color: #010101;
                    color: white;
                    font-weight: 700;
                    padding: 0.5em 2em;
                    border: 2px solid $ap-pop;
                    border-radius: 4px;
                    margin-top: 1em;
                    margin-right: 1em;
                    &:hover{
                        cursor: pointer;
                        background: $ap-pop;
                    }
                    &.contactme {
                        display: inline-block;
                    }
                }
                img {
                    width: 80%;
                }
            }
            // .sixth {
            //     position: absolute;
            //     bottom: 0;
            // }
        }
        // .contact-item{ 
        //     position: absolute;
        //     bottom: 0;
        // }
    // }
    // img {
    //     max-width: 500px;
    // }
    h1 {
        font-size: 2em;
        font-weight: 700;
        color: $cyano-white;
        span {
            border-bottom: 2px solid $light-blue;
            // border-radius: 10px; 
            border-bottom-right-radius: 5px;
        }
    }
    p {
        font-weight: 300;
        line-height: 1.8em;
        color: #98a0ad;
        display: inline;
    }
    
}
@media (min-width: 1025px) {
    .works-page {
        //background-image: url(../../../../assets/images/home.png);
        // position: relative;
        
        // display: grid;
        grid-template-rows: repeat(2, 1fr);
        // grid-template-columns: 1fr 1fr 1fr;
        // grid-template-rows: 1fr 1fr;
        box-sizing: border-box;
        // padding-top: 20%;
        // grid-gap: 1em;
        // padding: 1em;
        position: relative;
        
        .wrapper{
            background-color: $bg-color;
            box-shadow: 0px 0px 115px #000000a6;
            
            padding: 23%;
            width: 100%;
            
           .content{
                &.addmore{
                    i{
                        padding-top: 45%;
                    }
                }
           }
        }

        h1 {
            font-size: 3em;
            span {
                border-bottom: 2px solid $light-blue; 
            }
        }
        p {
            width: 60%;
        }
    }
}      