<div class="works-page">
  <div class="content">
      <ul>
          <li><h1>Real Estate Website</h1></li>
          <img src="../../../../assets/images/real_estate_syedraju_teamuinugget_2019_4x.png" alt="">
          
          <li><h1>Restaurant Website</h1></li>
          <img src="../../../../assets/images/restaurant.png" alt="">
        
          <li><h1>E-Commerce Website</h1></li>
          <img src="../../../../assets/images/ecom.png" alt="">
        
          <li><h1>Digital Agency Website</h1></li>
          <img src="../../../../assets/images/digital-agency.png" alt="">
        </ul>
  </div>
  
</div>
