<div class="works-page">
  <!-- <div *ngFor="let card of cards; let id = index+1"> -->
  <div class="container">
    <!-- <div class="heading">
      <h1>Some Things I've <span>Built</span></h1><br>
    </div> -->
    <!-- <h1>These are various projects I've worked on over the years. I hope they may be of some use to you. If you'd like to contribute to any, feel free! I generally use the GPLv3 license, or MIT otherwise.</h1> -->
    <div data-aos="fade-right" class="wrapper featured animated  slideInLeft one">
      <div class="content">
        <h6>- Featured -</h6>
        <h3>E-Commerce</h3>
        <h4>Built With</h4>
        <p>Node / Angular</p>
        <h4>Featuring</h4>
        <p>Font: Nunito Semi Bold</p><br>
        <p>Colors: 3</p><br>
        
        <a href="#">Live Demo</a>
        <a href="#">View Source</a>
        <!-- <a href="#">View Article</a> -->
        <!-- <img src="../../../../assets/images/PsychedelicMilkSmall.jpg" alt=""> -->

      </div>
    </div>
    <div data-aos="fade-right" class="subfeature wrapper animated  slideInRight one">
      <div class="content">
        <h3>Real Estate</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p><br>
        <a href="#">Live Demo</a>
        <a href="#">View Source</a>
      </div>
    </div>
    <div data-aos="fade-right" class="subsubfeature wrapper animated  slideInLeft one">
      <div class="content">
        <h3>Digital Agency</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p><br>
        <a href="#">Live Demo</a>
        <a href="#">View Source</a>
      </div>
    </div>
    <div data-aos="fade-right" >
        <div class="wrapper animated  slideInRight one">
            <div class="content">
              <h3>Restaurant</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p><br>
              <a href="#">Live Demo</a>
              <a href="#">View Source</a>
            </div>
          </div>
    </div>
    
    
  </div>


  <!-- </div> -->
</div>