@import "../../../../assets/scss/colors";
@import url('https://fonts.googleapis.com/css?family=Nunito:300,400,700');
// MOBILE FIRST, MEDIA QUERY FOR FULL SCREEN:FIX
span {
  display: none;
}
.contact-page {
    background: $bg-color;
    // background: linear-gradient(#05DBF2, #05F2F2);
    height: 100%;
    font-family: 'Nunito', sans-serif;
    // text-align: center;
    // .map{
    //   height: 100%;
    //   width: 100%;
    // }

    .contact-content {
      width: 100%;
    //   height: calc((100vh - 56px)/2);

      .heading{
          padding-top: 30px;
          text-align: center;
      }
      .wrapper{
          width: 100%;
          // height: 100vh;
        //   padding-top: 75px;
          .content{
            position: fixed;
            bottom: 0;
              // background-color: #273040;
              background-color: $bg-color;
            // background: linear-gradient(#05DBF2, #05F2F2);
              // box-shadow: 0px 0px 115px #000000a6;
              padding: 9%;
            //   width: 70%;
             width: 100%;
             height: calc(100vh - 56px);
            // height: 50vh;
            //   margin: 10% auto 10%;
            h1 {
              // color: $ap-pop;
            }
              form{
                display: block;
                margin-top: 0em;
                text-align: right;
                .fieldwrap{
                    width: 100%;
                    .formleft{
                        // width: 49%;
                        width: 100%;
                        float: left;
                        input{
                          text-align: left;
                          width: 100%;
                          padding: 18px 18px;
                          margin: 8px 0;
                          display: inline-block;
                          border-radius: 4px;
                          box-sizing: border-box;
                          background-color: #0e131c;
                          border: none;
                          color: #fff;
                          font-family: 'Nunito', sans-serif;
                          font-weight: normal;
                          font-size: 16px;
                        }
                      }
                      .formright{
                        //   width: 49%;
                          width: 100%;
                          float: right;
                          input{
                              text-align: left;
                              width: 100%;
                              padding: 18px 18px;
                              margin: 8px 0;
                              display: inline-block;
                              border-radius: 4px;
                              box-sizing: border-box;
                              background-color: #0e131c;
                              border: none;
                              color: #fff;
                              font-family: 'Nunito', sans-serif;
                              font-weight: normal;
                              font-size: 16px;
                          }
                      }
                }
                .formmessage{
                        width: 100%;
                        .formmessagestyle{
                        width: 100%;
                        padding: 18px 18px;
                        margin: 8px 0;
                        display: inline-block;
                        border-radius: 4px;
                        background-color: #0e131c;
                        box-sizing: border-box;
                        min-height: 25vh;
                        border: none;
                        color: #fff;
                        font-family: 'Nunito', sans-serif;
                        font-weight: normal;
                        font-size: 16px;
                        }
                }
                }
                input{
                    color: #00e5ea;
                    font-family: 'Nunito', sans-serif;
                    text-align: center;
                    font-weight: normal;
                    // text-decoration: underline;
                    width: 100px;
                    font-size: 20px;
                    // display: block;
                    padding: 0;
                    
                    background-color: $nav-color;
                    border: none;
                    letter-spacing: -1px;
                    margin-top: 15px;
                    border: none;
                    border-radius: 4px;
                    cursor: pointer;
                }
            }
        }
    }
    h1 {
        font-size: 2em;
        font-weight: 700;
        color: $cyano-white;
        span {
            border-bottom: 2px solid $light-blue;
            // border-radius: 10px;
            border-bottom-right-radius: 5px;
        }
    }
    p {
        font-weight: 300;
        line-height: 1.8em;
        color: #98a0ad;
        display: inline;
    }

}
@media (min-width: 900px) {
    .contact-page {
        //background-image: url(../../../../assets/images/home.png);
        position: relative;
        display: flex;
        .formleft{
              width: 49%;
            //   width: 100%;
              float: right;
        }
        .formright{
              width: 49%;
            //   width: 100%;
              float: right;
        }
        .map{
          width: 50%;
        }
        .content {
          width: 50%;
            // position: absolute;
            // top: 22%;
            // left: 180px;
            // text-align: left;
        }
        h1 {
            font-size: 3em;
            span {
                border-bottom: 2px solid $light-blue;
            }
        }
        p {
            width: 60%;
        }
    }
}

