<div class="contact-page">
  
  <div class="contact-content">
    <div class="wrapper">
      <div class="content group animated  slideInUp one">
        <h1 *ngIf="!submitted">From:</h1>
        <h1 *ngIf="submitted">Message Sent!</h1>
        <form #userForm="ngForm" (ngSubmit)="onSubmit()" >

          <div class="fieldwrap group">
            <div class="formleft">
              <input
                type="text"
                id="name"
                placeholder="Name"
                required
                name="name"
                [(ngModel)]="emailModel.name"
                #name="ngModel"
              /><br />
              <div class="alert alert-danger" style="text-align: left;" *ngIf="!name.valid && name.touched">required</div>
            </div>

            <!-- {{ name.untouched }} -->

            <div class="formright">
              <input
                type="text"
                name="email"
                id="email"
                required
                placeholder="Email"
                [(ngModel)]="emailModel.email"
                #email="ngModel"
                [ngModelOptions]="{standalone: true}"
              /><br />
              <div class="alert alert-danger" style="text-align: left;" *ngIf="!email.valid && email.touched">required</div>
            </div>
          </div>
          <div class="formmessage">
            <textarea
              name="message"
              id="message"
              required
              class="formmessagestyle"
              placeholder="Message"
              [(ngModel)]="emailModel.message"
              #message="ngModel"
            ></textarea><br />
            <div class="alert alert-danger" style="text-align: left;" *ngIf="!message.valid && message.touched">required</div>
          </div>
          <input type="submit" class="send" value="SEND">
        </form>

        <!-- <p style="color: white;">twitter linkedin github icons</p><br>
        <a (click)="myfunction()" routerLink="/"><span>-</span> Home <span>-</span></a>
        <a (click)="myfunction()" routerLink="/about"><span>-</span> About <span>-</span></a>
        <a (click)="myfunction()" routerLink="/work"><span>-</span> Work <span>-</span></a>
        <a (click)="myfunction()" routerLink="/contact"><span>-</span> Contact <span>-</span></a> -->
      </div>
    </div>
  </div>

  <!-- <div class="map">
    <app-gmap></app-gmap>
  </div> -->
</div>
