@import "../../../../assets/scss/colors";
@import url('https://fonts.googleapis.com/css?family=Nunito:300,400,700');
// MOBILE FIRST, MEDIA QUERY FOR FULL SCREEN:FIX
.contact-page {
    background: $bg-color;
    height: 100%;
    font-family: 'Nunito', sans-serif;
    // text-align: center;
    .map{
      height: 100%;
      width: 100%;
    }

    .content {
      width: 100%;
      height: calc(100vh - 56px);
      .heading{
          text-align: left;
          padding-left: 15%;
          
      }
      .form_wrapper{
          width: 100%;
          margin-top: -50px;
          .bluewrapcontact{
              // background-color: #273040;
              background-color: $bg-color;
              box-shadow: 0px 0px 115px #000000a6;
              padding: 6%;
              width: 70%;
              margin: 10% auto 10%;
              form{
                display: block;
                margin-top: 0em;
                .fieldwrap{
                    width: 100%;
                    .formleft{
                        width: 49%;
                        float: left;
                        .fieldlabel{
                          color: #fff;
                          font-family: 'Nunito', sans-serif;
                          text-align: left;
                          font-weight: normal;
                          font-size: 18px;
                          margin-top: 11px;
                          letter-spacing: -1px;
                        }
                        input{
                          text-align: left;
                          width: 100%;
                          padding: 18px 18px;
                          margin: 8px 0;
                          display: inline-block;
                          border-radius: 4px;
                          box-sizing: border-box;
                          background-color: #0e131c;
                          border: none;
                          color: #fff;
                          font-family: 'Nunito', sans-serif;
                          font-weight: normal;
                          font-size: 16px;
                        }
                      }
                      .formright{
                          width: 49%;
                          float: right;
                          .fieldlabel{
                              color: #fff;
                              font-family: 'Nunito', sans-serif;
                              text-align: left;
                              font-weight: normal;
                              font-size: 18px;
                              margin-top: 11px;
                              letter-spacing: -1px;
                          }
                          input{
                              text-align: left;
                              width: 100%;
                              padding: 18px 18px;
                              margin: 8px 0;
                              display: inline-block;
                              border-radius: 4px;
                              box-sizing: border-box;
                              background-color: #0e131c;
                              border: none;
                              color: #fff;
                              font-family: 'Nunito', sans-serif;
                              font-weight: normal;
                              font-size: 16px;
                          }
                      }
                  }
                  .formmessage{
                      width: 100%;
                      .fieldlabel{
                          color: #fff;
                          font-family: 'Nunito', sans-serif;
                          text-align: left;
                          font-weight: normal;
                          font-size: 18px;
                          margin-top: 11px;
                          letter-spacing: -1px;
                      }
                      .formmessagestyle{
                        width: 100%;
                        padding: 18px 18px;
                        margin: 8px 0;
                        display: inline-block;
                        border-radius: 4px;
                        background-color: #0e131c;
                        box-sizing: border-box;
                        min-height: 22vh;
                        border: none;
                        color: #fff;
                        font-family: 'Nunito', sans-serif;
                        font-weight: normal;
                        font-size: 16px;
                      }
                    }
                    a{
                        color: #00e5ea;
                        font-family: 'Nunito', sans-serif;
                        text-align: right;
                        font-weight: normal;
                        text-decoration: underline;
                        font-size: 20px;
                        display: block;
                        padding: 0;
                        background-color: transparent;
                        letter-spacing: -1px;
                        margin: 15px 0;
                        border: none;
                        cursor: pointer;
                    }
                }
            }
        }
    }
    h1 {
        font-size: 2em;
        font-weight: 700;
        color: $cyano-white;
        span {
            border-bottom: 2px solid $light-blue;
            // border-radius: 10px;
            border-bottom-right-radius: 5px;
        }
    }
    p {
        font-weight: 300;
        line-height: 1.8em;
        color: #98a0ad;
        display: inline;
    }

}
@media (min-width: 900px) {
    .contact-page {
        //background-image: url(../../../../assets/images/home.png);
        position: relative;
        display: flex;
        .map{
          width: 50%;
        }
        .content {
          width: 50%;
            // position: absolute;
            // top: 22%;
            // left: 180px;
            // text-align: left;
        }
        h1 {
            font-size: 3em;
            span {
                border-bottom: 2px solid $light-blue;
            }
        }
        p {
            width: 60%;
        }
    }
}

