<div class="contact-page">
  
  <div class="contact-content">
    <div class="wrapper">
      <div class="content group animated  slideInUp one">
        <h1 *ngIf="!submitted">From:</h1>
        <div *ngIf="submitted" class="wrapper">
          <div class="content">
            <h1>Message Sent!</h1>
          </div>
        </div>
        <form *ngIf="!submitted" #userForm="ngForm" (ngSubmit)="onSubmit()" novalidate>

          <div class="fieldwrap group">
            <div class="formleft">
              <input
                type="text"
                name="name"
                id="name"
                placeholder="Name"
                [(ngModel)]="emailModel.name"
                required
                #name="ngModel"
              /><br />
            </div>

            <!-- {{ name.untouched }} -->

            <div class="formright">
              <input
                type="text"
                name="email"
                id="email"
                required
                placeholder="Email"
                [(ngModel)]="emailModel.email"
                [ngModelOptions]="{standalone: true}"
              /><br />
            </div>
          </div>
          <div class="formmessage">
            <textarea
              name="message"
              id="message"
              required
              class="formmessagestyle"
              placeholder="Message"
              [(ngModel)]="emailModel.message"
            ></textarea
            ><br />
          </div>
          <input type="submit" class="send" value="SEND">
        </form>

        <!-- <p style="color: white;">twitter linkedin github icons</p><br>
        <a (click)="myfunction()" routerLink="/"><span>-</span> Home <span>-</span></a>
        <a (click)="myfunction()" routerLink="/about"><span>-</span> About <span>-</span></a>
        <a (click)="myfunction()" routerLink="/work"><span>-</span> Work <span>-</span></a>
        <a (click)="myfunction()" routerLink="/contact"><span>-</span> Contact <span>-</span></a> -->
      </div>
    </div>
  </div>

  <!-- <div class="map">
    <app-gmap></app-gmap>
  </div> -->
</div>
