<div class="home-page ">
  <div class="home-content">

    <section class="home">
      <!-- <div class="wrapper1 ">
        <div class="content "> -->
          <div class="container">
              <h1 class="animated  slideInDown one"><span>Hiro</span> Nakae</h1>
              <p class="animated  flipInX one">
                Web Developer / Node / Angular
              </p>
              <div class="animated  slideInLeft one">
                <a class="action-btn" routerLink="/contact">Contact me</a>
              </div>
          </div>
          
        <!-- </div>
      </div> -->
    </section>
    <section class="about">
      <div class="container">
        <!-- <ul>
          <li><img class="animated  rollIn one" id="triangle" src="../../../../assets/images/Triangle.png" alt=""></li>
          <li><img class="animated  rollIn two" id="triangle" src="../../../../assets/images/Triangle.png" alt=""></li>
          <li><img class="animated  rollIn three" id="triangle" src="../../../../assets/images/Triangle.png" alt=""></li>
        </ul> -->

        <span class="hello animated  slideInDown one">Hello.</span> 
        
        <div class="content animated  slideInUp one">
          <!-- <h1>
            <span class="about">About</span> me 
          </h1><br> -->
          <p>
            
          </p> <br><a routerLink="/work">Check out my work</a> 
        </div>
      </div>
    </section>

    

  </div>
</div>
