@import "../../../../assets/scss/colors";
@import url('https://fonts.googleapis.com/css?family=Nunito:300,400,700');
//MOBILE FIRST
ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-decoration: none;
    margin-top: 20%;
    i {
        color: $ap-pop;
        font-size: 20px;
        font-weight: 400;
        letter-spacing: 5px;
        &:hover {
            cursor: pointer;
        }
    }
}
.home-page {
    overflow: hidden;
    // height: calc(100vh - 56px);
    background: $bg-color;
    
    // background: $ap-dark;
    // height: 200%;
    height: 100%;
    .content {

        section {
            height: calc(100vh - 56px);
            // height: 100vh;
            // height: 100%;
            // padding-top: 20%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            // border: 2px solid $bg-color;
            // padding-bottom: 120px;
            &.home {
                // padding-top: -200px;
                // height: 62%;
                // height: 38vh;
                // height: calc(50vh - 56px);
                // height: calc(50vh - 56px);
                background: $bg-color;
                // background: $ap-pop;
                // background: linear-gradient(#05DBF2, #05F2F2);
                // background-image: url(../../../../assets/images/flower.jpg);
                // background: linear-gradient(#05DBF2, #05F2F2);
                .container {
                    // height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                    margin-top: 0;
                    padding-top: 0;
                    position: relative;
                    // transform: translatey(-100px);
                    h1 {
                        // font-weight: 600;
                        font-size: 80px;
                        // font-family: 'Nunito', sans-serif;
                        // transform: translateY(-50%);
                        text-align: center;
                        font-weight: 600;
                        // font-size: 40px;
                        font-family: 'Nunito', sans-serif;
                        transform: translateY(-50%);
                        // span {
                        //     border-bottom: 2px solid $ap-pop;
                        //     border-bottom-right-radius: 4px;
                        // }
                    }
                    p {
                        font-weight: 400;
                        line-height: 1.8em;
                        color: #98a0ad;
                        display: block;
                        font-family: 'Nunito', sans-serif;
                        text-align: center;
                    }
                    .action-btn{
                        display: inline-block;
                        text-decoration: none;
                        font-family: 'Nunito', sans-serif;
                        color: white;
                        font-weight: 700;
                        // background: $blue;
                        border: 2px solid $ap-pop;
                        padding: 0.5em 2em;
                        border-radius: 4px;
                        margin-top: 1em;
                        margin-right: 1em;
                        // transition: .6s ease-in-out;
                        &:hover {
                            background: $ap-pop;
                            // box-shadow: 0px 0px 90px #000000a6;
                        }
                    }
                }
            }
            &.about {
                background: $ap-pop;
                background: linear-gradient(#05DBF2, #05F2F2);
                text-align: center;
                .container {
                    // height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                    margin-top: 0;
                    padding-top: 0;
                    position: relative;
                    transform: translatey(-0px);
                    ul {
                        position: absolute;
                        left: 60%;
                        top: 20%;
                        li img {
                            width: 45%;
                            // margin: 70px 0;
                            &.one {
                                margin-right: 50px;
                            }
                        }
                    }
                    .hello {
                        font-weight: 600;
                        font-size: 80px;
                        font-family: 'Nunito', sans-serif;
                        transform: translateY(-50%);
                        color: white;
                    }
                    h1 {
                        // font-size: 2em;
                        // font-weight: 700;
                        color: rgb(78, 78, 78);
                        font-family: 'Nunito', sans-serif;
                        span {
                            border-bottom: 2px solid $ap-pop;
                            // border-radius: 10px; 
                            border-bottom-right-radius: 5px;
                        }
                    }
                    p {
                        font-weight: 400;
                        line-height: 1.8em;
                        // color: #98a0ad;
                        color: white;
                        display: inline;
                        font-family: 'Nunito', sans-serif;
                    }
                    text-align: right;
                    a {
                        font-family: 'Nunito', sans-serif;
                        font-size: 20px;
                        display: inline-block;
                        text-decoration: none;
                        // color: #010101;
                        color: white;
                        font-weight: 700;
                        padding: 0.5em 2em;
                        border: 2.4px solid $bg-color;
                        border-radius: 4px;
                        margin: 1.5em 0;
                        
                        &:hover{
                            cursor: pointer;
                            background: $bg-color;
                            opacity: .8;
                        }
                    }
                }
            }
            &.contact {
                position: relative;
                h1 {
                    position: absolute;
                    left: 50px;
                    color: black;
                    bottom: 40px;
                    z-index: 3;
                    &.hide {
                        display: none;
                    }
                }
                // background: $ap-pop;
                // background: $bg-color;
                // background: linear-gradient(#05DBF2, #05F2F2);
                height: 50vh;
                // position: relative;
                display: flex;
                justify-content: flex-end;
                .contact-content {
                    // position: absolute;
                    // bottom: 0;
                    width: 100%;
                    //   height: calc((100vh - 56px)/2);
                
                    // .heading{
                    //     padding-top: 30px;
                    //     text-align: center;
                    // }
                    .wrapper{
                        width: 100%;
                        //   padding-top: 75px;
                        .content{
                            // background-color: #273040;
                            background-color: $bg-color;
                            // background: linear-gradient(#05DBF2, #05F2F2);
                            
                            // box-shadow: 0px 0px 115px #000000a6;
                            padding: 9%;
                            //   width: 70%;
                            width: 100%;
                            //  height: calc((100vh - 56px)/2);
                            // height: 50vh;
                            //   margin: 10% auto 10%;
                            form{
                                display: block;
                                margin-top: 0em;
                                text-align: right;
                                .fieldwrap{
                                    width: 100%;
                                    .formleft{
                                        width: 100%;
                                        float: left;
                                        input{
                                        text-align: left;
                                        width: 100%;
                                        padding: 18px 18px;
                                        margin: 8px 0;
                                        display: inline-block;
                                        border-radius: 4px;
                                        box-sizing: border-box;
                                        background-color: #0e131c;
                                        border: none;
                                        color: #fff;
                                        font-family: 'Nunito', sans-serif;
                                        font-weight: normal;
                                        font-size: 16px;
                                        }
                                    }
                                    .formright{
                                        width: 100%;
                                        float: right;
                                        input{
                                            text-align: left;
                                            width: 100%;
                                            padding: 18px 18px;
                                            margin: 8px 0;
                                            display: inline-block;
                                            border-radius: 4px;
                                            box-sizing: border-box;
                                            background-color: #0e131c;
                                            border: none;
                                            color: #fff;
                                            font-family: 'Nunito', sans-serif;
                                            font-weight: normal;
                                            font-size: 16px;
                                        }
                                    }
                                }
                                .formmessage{
                                        width: 100%;
                                        .formmessagestyle{
                                        width: 100%;
                                        padding: 18px 18px;
                                        margin: 8px 0;
                                        display: inline-block;
                                        border-radius: 4px;
                                        background-color: #0e131c;
                                        box-sizing: border-box;
                                        min-height: 22vh;
                                        border: none;
                                        color: #fff;
                                        font-family: 'Nunito', sans-serif;
                                        font-weight: normal;
                                        font-size: 16px;
                                        }
                                }
                                }
                                a{
                                    color: #00e5ea;
                                    font-family: 'Nunito', sans-serif;
                                    text-align: center;
                                    font-weight: normal;
                                    // text-decoration: underline;
                                    width: 85px;
                                    font-size: 20px;
                                    // display: block;
                                    padding: 0;
                                    
                                    background-color: $nav-color;
                                    border: none;
                                    letter-spacing: -1px;
                                    margin-top: 15px;
                                    border: none;
                                    border-radius: 3px;
                                    cursor: pointer;
                                }
                            }
                        }
                      
                }
            }
            .wrapper{
                // background-color: #273040;
                background-color: $nav-color;
                // background-color: white;
                // background: $mid-blue;
                // background: $ap-pop;
                // background: linear-gradient(to top left, #05DBF2, #05F2F2);
                // box-shadow: 0px 0px 115px #000000a6;
                // box-shadow: 0px 0px 115px $blue;
                // padding: 6%;
                width: 70%;
                margin: 5% auto 10%;
                
                border-radius: 2px;
                // border: 2px solid $mid-blue;
                .content{
                    // display: block;
                    margin-top: 0em; 
                    font-family: 'Nunito', sans-serif;
                }
            }
        }
        h1 {
            font-size: 2em;
            font-weight: 700;
            color: $cyano-white;
            font-family: 'Nunito', sans-serif;
            // span {
            //     border-bottom: 2px solid $ap-pop;
            //     // border-radius: 10px; 
            //     border-bottom-right-radius: 5px;
            // }
        }
        p {
            // font-size: 16px;
            font-weight: 300;
            line-height: 1.8em;
            // color: #98a0ad;
            color: $cyano-white;
            display: inline;
            font-family: 'Nunito', sans-serif;
            // a{
            //     text-decoration: none;
            //     color: $ap-pop;
            // }
        }
        
        
        
    }
}
@media (min-width: 1025px) {

    .home-page {
        position: relative;
        height: 100%;
        width: 100%;
        .content {
            position: absolute;
            left: 180px;
            section {
                display: flex;
                align-items: flex-start;
                justify-content: center;
                flex-direction: column;
                // text-align: left;
                &.home {
                    .container {
                        display: block;
                        text-align: left;
                    }
                }
                
            }
            // text-align: left;
            // width: 70%;
            img {
                width: 250px;
            }
            h1 {
                font-size: 3em;
                // span {
                //     border-bottom: 2px solid $light-blue; 
                // }
            }
            p {
                width: 60%;
                height: 30px;
            }
            a{
                display: inline-block;
                text-decoration: none;
                font-family: 'Nunito', sans-serif;
                color: white;
                font-weight: 700;
                // background: $blue;
                border: 2px solid $ap-pop;
                padding: 0.5em 2em;
                border-radius: 4px;
                margin-right: 1em;
                // transition: .6s ease-in-out;
                &:hover {
                    background: $ap-pop;
                    // box-shadow: 0px 0px 90px #000000a6;
                }
            }
        }
    }
}
