<div class="home-page">
  <div class="home-content">
    <section class="one">
      <h1><span>Hiro</span> Nakae</h1><br>
      <p>
        <span></span>Full Stack Developer / Node / Angular <br>
      </p><br>
      
    </section>
    
    <section class="two">
      <div class="wrapper">
        <div class="content">
          asdf  
        </div>
      </div>
    </section>
    <section class="three">
      <a class="action-btn" routerLink="/contact">Contact me</a>
    </section>

  </div>
</div>