<section class="home-page">
  <div class="home-content">
    

    <!-- <div class="wrapper featured">
        <div class="content"> -->

            <h1><span>Hiro</span> Nakae</h1><br>
            <p>
              Full Stack Developer / Node / Angular <br>
            </p><br>
            <a class="action-btn" routerLink="/contact">Contact me</a>
            <i class="fab fa-angular"></i>
            <!-- <div class="module-border">
              <div class="module">
                hello
              </div>
            </div> -->
        <!-- </div>
      </div> -->
    <!-- <a class="works-btn" routerLink="/work">See my works</a> -->
  </div>
</section>