@import "../../../../assets/scss/colors";
//MOBILE FIRST
.home-page {
    .home-content {
        padding-top: 123px;
    }
    height: 100%;
    width: 100%;
    text-align: center;
    background: $bg-color;
    //background-image: url(../../../../assets/images/home2.png);
    img {
        max-width: 200px;
    }
    h1 {
        font-size: 2em;
        font-weight: 700;
        color: $cyano-white;
        span {
            border-bottom: 2px solid $light-blue;
            border-radius: 10px; 
        }
    }
    p {
        font-weight: 300;
        line-height: 1.8em;
        color: #98a0ad;
        display: inline;
    }
    .action-btn, .works-btn {
        display: inline-block;
        text-decoration: none;
        color: white;
        font-weight: 700;
        // background: $blue;
        border: 2px solid $blue;
        padding: 0.5em 2em;
        border-radius: 2px;
        margin-top: 1em;
        margin-right: 1em;
        // transition: 0.3s;
        &:hover {
            background: $blue;
            box-shadow: 0px 0px 90px #000000a6;
        }
    }
}
@media (min-width: 900px) {
    .home-page {
        //background-image: url(../../../../assets/images/home.png);
        position: relative;
        .home-content {
            position: absolute;
            top: 22%;
            left: 180px;
            text-align: left;
        }
        
        height: 100%;
        width: 100%;
        img {
            width: 250px;
        }
        h1 {
            font-size: 3em;
            span {
                border-bottom: 2px solid $light-blue; 
            }
        }
        p {
            width: 60%;
        }
        footer ul {
            max-width: 960px;
            margin: 0 auto;
            padding: 2em 0;
        }
    }
}
