@import "../assets/scss/colors";

.wrapper{
    display: grid;
    grid-template-areas: 
        "nav"
        "content";
    grid-template-rows: auto 1fr;
    height: 100%;
    width: 100%;
}
.content{
     width: 100%;  
     overflow: auto; 
}
@media (min-width: 900px) {
    .wrapper {
        grid-template-areas: 
            "nav content";
        
        grid-template-columns: auto 1fr;
        height: 100%;
        width: 100%;
    }
}
