<div class="skills-page">
  <div class="content">
      <h1>
          Skills page
        </h1>
        <br><br>
        
        <h2><strong>To do list:</strong></h2>
        <ul>
          <li>About Page: salo design</li>
          <li>Skills Page: salo design</li>
          <li>Works Page: find design</li>
          <li>Contact Page: Node Mailer w/ Express</li>
          <br>
          <li>Social Media: Start posting on Twitter</li>
          <li>download CV/Resume from somewhere</li>
          <br>
          <li>Create api to serve projects to works page</li>
          <li>use interpolation to display works</li>
          <li>use gifs</li>
          <br>
          <li>button change: Jack design</li>
          <li>hover animations</li>
          <li>angular animations and transitions</li>
          <br>
          <li>use more lines, depth, and gradients in design</li>
        </ul>
  </div>
  
</div>
