<div class="skills-page">
  <div class="content">
    <h1>
      <span>Skills</span> page
    </h1><br>
    
    <button>Download Resume</button><br>

    <div>
    <div class="front">
        <h2>Front-End</h2><br>
        <p>HTML/CSS</p><br>
        <p>JavaScript</p><br>
        <p>Sass</p><br>
        <p>Angular</p><br>
        <p>jQuery</p><br>
        <p>Bootstrap/Foundation</p><br>
        <p>AJAX</p><br>
      </div>
      <div class="back">
        <h2>Back-End</h2><br>
        <p>API design & development</p><br>
        <p>CRUD</p><br>
        <p>RESTful Services</p><br>
        <p>PHP/Java/.Net</p><br>
        <p>MySQL/PostgreSQL/MongoDB</p><br>
        <p>Node.js/Apache</p><br>
        <p>Exdpress.js</p><br>
      </div><br>
    </div>
    
  </div>
  
</div>
<!-- <li>Create api to serve projects to works page</li>
      <li>use interpolation to display works</li>
      <li>use gifs</li>
      <br>
      <li>use more lines, depth, and gradients in design</li>
      <li>emphasize utility & entertainment</li> -->