<div class="skills-page">
  <div class="content">
    <div class="container">
        <h1>
            <span>Skills</span> page
          </h1>
          
      
          <p>The main area of my expertise is front end development.
            HTML, CSS, JS (TypeScript), small to medium web apps with Angular2+.
            interactive layouts, animations, and features.
            I have full-stack developer experience with back end languages,
            api development, and various databases.
      
            Visit my <a href="">LinkedIn</a>  profile for more details or just <a href="">contact</a>  me.
          </p><br>
      
          <a href="" class="resume-btn">Download CV</a><br>
          <a href="" class="resume-btn">Download Resume</a>
      
    </div>
    

    
  </div>
  
</div>
