@import "../../../../assets/scss/colors";
@import url('https://fonts.googleapis.com/css?family=Nunito:300,400,700');

.skills-page {
    background: #3F4448;
    height: 100%;
    text-align: center;
    // display: grid;
    // grid-auto-columns: 1fr 1fr;
    .content {
        padding-top: 123px;
        text-align: center;
    }
    h1 {
        font-size: 2em;
        font-weight: 700;
        color: $cyano-white;
        font-family: 'Nunito', sans-serif;
        span {
            border-bottom: 2px solid $light-blue;
            // border-radius: 10px; 
            border-bottom-right-radius: 5px;
        }
        padding-bottom: 30px;
    }
    h2 {
        font-size: 1.5em;
        font-weight: 500;
        color: $cyano-white;
    }
    p {
        font-family: 'Nunito', sans-serif;
        font-weight: 300;
        line-height: 1.8em;
        color: #98a0ad;
        display: inline;
    }
    .resume-btn {
        font-family: 'Nunito', sans-serif;
        display: inline-block;
        text-decoration: none;
        color: white;
        font-weight: 700;
        padding: 0.5em 2em;
        border-radius: 2px;
        border: 2px solid $blue;
        margin: 1em 0;
        &:hover{
            cursor: pointer;
            background: $blue;
        }
    }
    // .front, .back {
    //     float: left;
    //     padding-right: 100px;
    // }
}
@media (min-width: 900px) {
    .skills-page {
        //background-image: url(../../../../assets/images/home.png);
        position: relative;
        .content {
            position: absolute;
            top: 22%;
            left: 180px;
            text-align: left;
        }
        h1 {
            font-size: 3em;
            span {
                border-bottom: 2px solid $light-blue; 
            }
        }
        p {
            width: 60%;
        }
    }
}      