@import "assets/scss/reset";
@import url('https://fonts.googleapis.com/css?family=Nunito:300,400,700');
@import "assets/scss/colors";


html, body{
    font-family: 'Nunito', sans-serif;
    height: 100vh;
    width: 100vw;
    position: relative;
    overflow: auto;
    display: block;
}
// *, *:before, *:after {
//     box-sizing: border-box;
// }